body{
  background-image: url(images/bg3.jpg);
  background-position: top center;
}
body .container{
//  background-image: url(images/Untitled-4.jpg);
 // background-color: rgba(0,0,0,0.7);
  //padding: 16px 20px;
  width: 830px;
  //height: 800px;
  
}
.divider{
  height:10px;
}

#pan{


 background-color: rgba(55,55,55,0.5);
  padding: 16px 20px;
  width: 870px;
 height: 800px;



}	